.banner{
    background: url("https://preply.com/wp-content/uploads/2021/08/German-courses.png") 
    no-repeat center center; 
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
 }